@use "./variables/variables" as vars;
@use "./variables/reset.css";
@use "./variables/breakpoints";
@use "./variables/text";

:root {
    /* Цвета фона */
    --background-01: #18181d;
    --background-02: #2d3345;

    /* Основные цвета */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-01: #e00840;
    --color-02: #2b8ef9;
    --color-03: #ffe500;

    /* Границы */
    --border: #545969;

    /* Шрифты */
    --font-01: "Inter", sans-serif;
    --font-02: "Oswald", sans-serif;
}

body {
    font-family: var(--font-01);
    color: var(--color-white);
    background: var(--background-01);
}

html {
    font-size: 0.833vw;

    @include media(mobile) {
        font-size: 4.103vw;
    }
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
