$white: #ffffff;
$color-01: #f4f4f4;
$color-02: #141414;
$color-03: #fff;
$color-04: #981e32;
$color-05: #8a7d80;
$color-06: rgba(246, 244, 236, 0.1);
$color-07: #85d237;

//Fonts

$Montserrat: "PP Neue Montreal", sans-serif;
