:root {
    /* Цвета фона */
    --background-01: #18181d;
    --background-02: #2d3345;

    /* Основные цвета */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-01: #e00840;
    --color-02: #2b8ef9;
    --color-03: #ffe500;

    /* Границы */
    --border: #545969;

    /* Шрифты */
    --font-01: "Inter", sans-serif;
    --font-02: "Oswald", sans-serif;
}
